.u-section-1 .u-sheet-1 {
  min-height: 743px;
}

.u-section-1 .u-image-1 {
  width: 525px;
  min-height: 730px;
  height: auto;
  background-image: url("images/z4565560422938_805c3ea7b004d668cb1c0211d76e0777.jpg");
  margin: 0 auto 13px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 340px;
  }
} .u-section-2 {
  background-image: url("images/nganh-thiet-ke-do-hoa-thi-khoi-nao_0152365861.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 892px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 58px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 51px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 657px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  width: 218px;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  width: 269px;
  margin: 35px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 657px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  width: 187px;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  font-weight: 400;
  margin: 35px 30px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 612px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 542px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 542px;
  }

  .u-section-2 .u-text-4 {
    font-weight: 400;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1201px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 149px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 815px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 142px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1383px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 4.5rem;
  margin: 54px auto 0;
}

.u-section-3 .u-list-1 {
  margin-top: 77px;
  margin-bottom: 60px;
  grid-template-rows: auto;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 1038px;
  grid-gap: 30px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 25px 0;
}

.u-section-3 .u-text-2 {
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  line-height: 1.4;
  font-style: italic;
  font-size: 1.25rem;
  margin: 31px auto 0;
}

.u-section-3 .u-line-1 {
  width: 276px;
  transform-origin: left center 0px;
  margin: 14px auto 0;
}

.u-section-3 .u-image-1 {
  width: 288px;
  height: 288px;
  background-image: url("images/cac-ky-nang-giao-tiep-can-co-1.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 29px auto 0 30px;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 25px 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  font-style: italic;
  line-height: 1.4;
  font-size: 1.25rem;
  margin: 31px auto 0;
}

.u-section-3 .u-line-2 {
  width: 276px;
  margin: 14px auto 0;
}

.u-section-3 .u-image-2 {
  width: 288px;
  height: 288px;
  background-image: url("images/ky-nang-tu-duy-sang-tao.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 29px auto 0 30px;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  padding: 25px 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-3 .u-text-7 {
  font-style: italic;
  line-height: 1.4;
  font-size: 1.25rem;
  margin: 31px auto 0;
}

.u-section-3 .u-line-3 {
  width: 276px;
  margin: 14px auto 0;
}

.u-section-3 .u-image-3 {
  width: 288px;
  height: 288px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 29px auto 0 30px;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-4 {
  padding: 25px 0;
}

.u-section-3 .u-text-8 {
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-3 .u-text-9 {
  font-style: italic;
  line-height: 1.4;
  font-size: 1.25rem;
  margin: 31px auto 0;
}

.u-section-3 .u-line-4 {
  width: 276px;
  margin: 14px auto 0;
}

.u-section-3 .u-image-4 {
  width: 288px;
  height: 288px;
  background-image: url("images/eventtechnology-15912456396331111417122.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 29px auto 0 30px;
}

.u-section-3 .u-list-item-5 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-5 {
  padding: 25px 0;
}

.u-section-3 .u-text-10 {
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-3 .u-text-11 {
  font-style: italic;
  line-height: 1.4;
  font-size: 1.25rem;
  margin: 31px auto 0;
}

.u-section-3 .u-line-5 {
  width: 276px;
  margin: 14px auto 0;
}

.u-section-3 .u-image-5 {
  width: 288px;
  height: 288px;
  background-image: url("images/Equivalent-Fraction-Decimal-Percentage-Wheel--Fractions-Maths-Shapes-Colours-KS2.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 29px auto 0 30px;
}

.u-section-3 .u-list-item-6 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-6 {
  padding: 25px 0;
}

.u-section-3 .u-text-12 {
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-3 .u-text-13 {
  font-style: italic;
  line-height: 1.4;
  font-size: 1.25rem;
  margin: 31px auto 0;
}

.u-section-3 .u-line-6 {
  width: 276px;
  margin: 14px auto 0;
}

.u-section-3 .u-image-6 {
  width: 288px;
  height: 288px;
  background-image: url("images/Problem-solving.webp");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 29px auto 0 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 851px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 1508px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-9 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-11 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-13 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 21px;
    padding-left: 21px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 21px;
    padding-left: 21px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-right: 21px;
    padding-left: 21px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-right: 21px;
    padding-left: 21px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-right: 21px;
    padding-left: 21px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-right: 21px;
    padding-left: 21px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 678px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 10px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: -3px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 293px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 23px;
}

.u-section-4 .u-image-1 {
  width: 144px;
  height: 140px;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  margin: 15px auto 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 293px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-4 .u-image-2 {
  width: 144px;
  height: 140px;
  margin: 35px auto 0;
}

.u-section-4 .u-text-3 {
  margin: 15px auto 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 213px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 23px;
}

.u-section-4 .u-image-3 {
  width: 140px;
  height: 140px;
  margin: 10px auto 0;
}

.u-section-4 .u-text-4 {
  margin: 9px auto 0 150px;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 213px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-4 {
  padding: 0 4px;
}

.u-section-4 .u-image-4 {
  width: 140px;
  height: 140px;
  margin: 16px auto 0;
}

.u-section-4 .u-text-5 {
  margin: 4px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 609px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 242px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 242px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 176px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 121px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 176px;
  }

  .u-section-4 .u-text-5 {
    margin-top: -53px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 531px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-image-3 {
    margin-left: 175px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 90px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 126px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1035px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 189px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 755px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 119px;
  }

  .u-section-4 .u-image-4 {
    margin-right: 191px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 749px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 73px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  width: 746px;
  margin: 21px auto 0;
}

.u-section-5 .u-gallery-1 {
  height: 423px;
  margin-top: 47px;
  margin-bottom: 60px;
  grid-gap: 17px 17px;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-5 .u-gallery-1 {
    height: 349px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1128px;
  }

  .u-section-5 .u-text-2 {
    width: 720px;
  }

  .u-section-5 .u-gallery-1 {
    height: 802px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2093px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1rem;
    width: 540px;
  }

  .u-section-5 .u-gallery-1 {
    height: 1805px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1418px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }

  .u-section-5 .u-gallery-1 {
    height: 1136px;
  }
} .u-section-6 {
  background-image: url("images/designbig.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 501px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 59px auto 0;
}

.u-section-6 .u-form-1 {
  width: 570px;
  margin: 29px auto 59px;
}

@media (max-width: 767px) {
  .u-section-6 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-form-1 {
    width: 340px;
  }
}